<style>
.right {
  position: absolute;
  right: 100px;
  width: 300px;
  
  padding: 10px;
}
</style>
<h1>Welcome, <%= @user.name %></h1><br>
<br>


<h2>Your factory is <%= @user.factory.name %> </h2>
<h3>Here is all factories (For SuperUsers only)</h3>


<br>
<% if @factories != [] %>
<% @factories.each do |eachfactory|%>
    
    <strong><%= eachfactory.name %></strong>
     has <%= link_to eachfactory.equipment.count,factory_equipment_index_url(eachfactory)  %> Equipment<br>
<% end %>
<%else%>
  <h3>No Factories found</h3>
<%end%>
